node_modules
.DS_Store
dist
dist-ssr
coverage
test-results.xml
*.local
.idea
pnpm-lock.yaml
smartmontools.md
zsh_history.md
/*.md
/package-lock.json
origin_theme.css
.vitepress/cache
.vitepress/pages
.vitepress/.temp
## Need tarce
!README.md
!/changelog.md